@font-face {
  font-family: 'overlook-black';
  src: url('./fonts/Overlock-Black.ttf');
}

@font-face {
  font-family: 'overlook-black-italic';
  src: url('./fonts/Overlock-BlackItalic.ttf');
}

@font-face {
  font-family: 'overlook-bold';
  src: url('./fonts/Overlock-Bold.ttf');
}

@font-face {
  font-family: 'overlook-bold-italic';
  src: url('./fonts/Overlock-BoldItalic.ttf');
}

@font-face {
  font-family: 'overlook-italic';
  src: url('./fonts/Overlock-Italic.ttf');
}

@font-face {
  font-family: 'overlook-regular';
  src: url('./fonts/Overlock-Regular.ttf');
}
